*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 252, 252);
}
nav{
    margin :2px;
    display: flex;
}
.left {
    margin: 5px;
   
}
.left a{
    text-decoration: none;
    color: black;
}
 
.right ul{
    margin-left: 1494px;
    list-style-type: none;
    display: flex;
    
}
.right ul li{
    margin: 5px;
    padding: 4px;
    border-right: 2px solid black;
}
.right ul li a{
    text-decoration: none;
    color: black;
}
.right ul li a:hover{
     font-size: 20px;
    color: orange;
}
.right ul li a:active{
     font-size: 20px;
    color: orange;
}
main{
    margin-top: 15px;
    display: flex;
    /* background-color: blueviolet; */
     
    
}
.mainRight{
    margin-top: 25px ;
    margin-left: 350px;
    height:650px;
    width:600px;
    
    
    
}
#circle{
    margin-top: 117px;
    height:400px;
    width: 400px;
    border: 2px solid black;
    border-radius: 50%;
}
.mainLeft{
    margin-top:25px ;
    margin-left: 53px;
    margin-right: 250px;
    height:650px;
    width:600px;
}
.Maintext{
    margin-top: 130px;
   
}
#element{
    font-size: 3rem;
    font-weight: 5px;
    color:rgb(13, 1, 14);
}
.menu{
    display: flex;
}
.circle1{
    margin-top: 40px;
    margin-left: 32px;
    height:150px;
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    
    
}
#c1{
     
    background-color: orange;
}
#c2{
     
    background-color: rgb(245, 44, 44);
}
#c3{
     
    background-color: rgb(132, 250, 215);
}
#text1{
    font-size: 20px;
}
.menu h5{
    margin-top: 54px;
    border-radius: 153px;
}
#h51{
     
     background-color: orange;
 }
 #h52{
      
     background-color: rgb(245, 44, 44);
 }
 #h53{
      
     background-color: rgb(132, 250, 215);
 }
 .menu a{
    text-decoration: none;
    color: black;;
 }
 
 hr{
    margin: 50px;
    background-color: gray;
    border-width: 2px;
 }
 .footer{
    display: flex;
    justify-content: space-around;

 }
 .footer > div{
     margin-top: 5px;
     margin-left: 5px;
     height: 100px;
     width: 100px;
 }
 .footer img{
    margin: 3px;
    height: 30px;
    width: 30px;
 }